[[source]]
url = "https://pypi.org/simple" 
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pylint = "*"
pydantic = "*"
coverage = "*"
pandas = "*"
numpy = "==1.23.4"
scikit-learn = "==1.2.2"
joblib = "*"
scipy = "==1.10.1"

[dev-packages]

[requires]
python_version = "3.8"
